<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <%- include('./partials/hero') %>
    <%- include('./partials/brands') %>
    <%- include('./partials/newArrivals') %>
    <%- include('./partials/topCard') %>
    <%- include('./partials/banners') %>
    <%- include('./partials/newsLetter') %>
    <%- include('./partials/footer') %>
  </body>

  <script src="/javascripts/script.js"></script>
</html>