<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    
    <section id="products" class="section-p1">
        <div class="pro-container">
            <% products.forEach(product => { %>
                <div class="pro-item" onclick="window.location.href='/products/sproduct/<%= product.id %>';">
                    <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                    <div class="des">
                        <span><%= product.rarity %></span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$<%= toThousand(product.price) %></h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
                </div>
            <% }); %>
        </div>
            </section>
            
            <section id="pagination" class="section-p1">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
            </section>
            
            <%- include('./partials/newsLetter.ejs') %>
            <%- include('./partials/footer.ejs') %>
        </body>

<script src="/javascripts/script.js"></script>

</html>