<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
            <section id="prodetails" class="section-p1">
                <div class="single-pro-img">
                    <img src="<%= product.imageUrl %>" width="100%" id="Mainimg" alt="<%= product.name %>">
                </div>
                
                <div class="single-pro-details">
                    <h6>Card</h6>
                    <h4><%= product.name %></h4>
                    <h2>$<%= product.price %></h2>
                    <select>
                        <option>Select Type</option>
                        <option>Near Mint</option>
                        <option>Lightly Played</option>
                        <option>Moderately Played</option>
                        <option>Graded</option>
                    </select>
                    <input type="number" value="1">
                    <button class="normal">Add To Cart</button>
                    <h4>Product Details</h4>
                    <span><%= product.description %></span>
                </div>

            </section>

            <%- include('./partials/brands') %>
            <%- include('./partials/newArrivals') %>

            
            <%- include('./partials/newsLetter.ejs') %>
                <%- include('./partials/footer.ejs') %>
</body>

<script src="/javascripts/script.js"></script>

</html>