<link rel='stylesheet' href='/stylesheets/style.css' />

<section id="products" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Fresh Picks Just for You</p>
    <div class="pro-container">
        <% NewProducts.forEach(product => { %>
            <a href="/products/sproduct/<%= product.id %>" class="product-link">
                <div class="pro-item">
                    <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                    <div class="des">
                        <span><%= product.rarity %></span>
                        <h5><%= product.name %></h5>
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <h4>$<%= toThousand(product.price) %></h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
                </div>
            </a>
        <% }); %>
    </div>
</section>

        <!-- <div class="pro-item">
            <img src="images/products/producto2.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Togekiss EX (BKP 83) - Card</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$5.95</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
    </div> -->
